
.bazis{
  width: 680px;
  height: 920px;
  background-color:lightgrey;
  margin-left: 960px;
}

h1 {margin: 2px 220px;
 }

img {margin: 5px 140px;
}
h2 {margin-left: 50px;
}

.body {
  border-top:2px solid black;
  margin-top: 20px;
  margin-left: 20px;
}

.phone {
  border-top:2px solid black;
  margin-top: 20px;
  margin-left: 20px;
}

ul {line-height: 30px;
 }

.feedback {
border-top:2px solid black;
  margin-top: 20px;
  margin-left: 20px;
}
